<!-- <table class="table table-bordered table-striped scroll table-wrapper-scroll-y my-custom-scrollbar ">
          <thead class="headSalesForm">
            <tr class="bg-dark" >
              <th class="thTableSearchProduct tc-id" scope="col">#</th>
              <th class="thTableSearchProduct" scope="col">Nombre</th>
              <th class="thTableSearchProduct" scope="col">DNI</th>
              <th class="thTableSearchProduct" scope="col">RUC</th>
              <th class="thTableSearchProduct" scope="col">Celular</th>
              <th class="thTableSearchProduct" scope="col">Dirección</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let _client of _clients; let indice = index" class="tr">
              <td >{{indice+1}}</td>
              <td>{{_client._name}}</td>
              <td>{{_client._DNI}}</td>
              <td>{{_client._RUC}}</td>
              <td>{{_client._cel}}</td>
              <td>{{_client._address}}</td>
            </tr>
          </tbody>
        </table> -->

<!-- <div class="container">
    <div class="row justify-content-center m-2">
        <h2> Menú de Buscar Cliente</h2>
    </div>
    <div class="row justify-content-center">
        <div class="form-group col-md-5">
            <select id="client-name" name="cliente-name" class="form-control">
              <option selected>Nombre...</option>
              <option>...</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <select id="client-dni" name="client-dni" class="form-control">
              <option selected><i class="fa fa-cc-diners-club" aria-hidden="true"></i></option>
              <option>...</option>
            </select>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <h4>Lista de Clientes</h4>
    </div>
    <div class="row">
        <table class="table table-bordered table-striped">
            <thead class="headSalesForm">
                <tr class="bg-dark">
                    <th class="thTableSearchProduct" scope="col">#</th>
                    <th class="thTableSearchProduct" scope="col">Nombre</th>
                    <th class="thTableSearchProduct" scope="col">DNI</th>
                    <th class="thTableSearchProduct" scope="col">RUC</th>
                    <th class="thTableSearchProduct" scope="col">Celular</th>
                    <th class="thTableSearchProduct" scope="col">Dirección</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td> Edinson perales </td>
                    <td> 72478206 </td>
                    <td> 123456789 </td>
                    <td> 978525987 </td>
                    <td> Urb.El Parral Mz.C Lt.19 </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td> Edinson perales </td>
                    <td> 72478206 </td>
                    <td> 123456789 </td>
                    <td> 978525987 </td>
                    <td> Urb.El Parral Mz.C Lt.19 </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td> Edinson perales </td>
                    <td> 72478206 </td>
                    <td> 123456789 </td>
                    <td> 978525987 </td>
                    <td> Urb.El Parral Mz.C Lt.19 </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td> Edinson perales </td>
                    <td> 72478206 </td>
                    <td> 123456789 </td>
                    <td> 978525987 </td>
                    <td> Urb.El Parral Mz.C Lt.19 </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td> Edinson perales </td>
                    <td> 72478206 </td>
                    <td> 123456789 </td>
                    <td> 978525987 </td>
                    <td> Urb.El Parral Mz.C Lt.19 </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td> Edinson perales </td>
                    <td> 72478206 </td>
                    <td> 123456789 </td>
                    <td> 978525987 </td>
                    <td> Urb.El Parral Mz.C Lt.19 </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col text-center">
            <button (click)="salesRedirect()" class="btn btn-dark m-2">Agregar Cliente Seleccionado</button>
            <app-register-modify-client *ngFor="let modal of modeModal; let i = index" [mode]="modal" [index]="i"></app-register-modify-client>
            <button (click)="salesRedirect()" class="btn btn-dark m-2">Cancelar</button>
        </div>
    </div>
</div> -->
