<!-- <table class="table table-bordered table-striped">
    <thead class="headSalesForm">
      <tr class="bg-dark">
        <th class="thTableSearchProduct" scope="col">#</th>
        <th class="thTableSearchProduct" scope="col">Categoría</th>
        <th class="thTableSearchProduct" scope="col">Marca</th>
        <th class="thTableSearchProduct" scope="col">Talla</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let selectC of Clothesre">
        
        <td>{{ selectC.idCategory }}</td>
        <td>{{ selectC.idBrand }}</td>
        <td>{{ selectC.idSize }}</td>
      </tr>
    </tbody>
  </table>  -->

<!-- <form>
    <div class="row">
      <div class="col">
        <select
          class="form-control"
          id="category"
          name="category"
          (change)="getProducts($event)"
        >
          <option>Categoria</option>
          <option
            *ngFor="let _category of _categories"
            [value]="_category._id"
          >
            {{ _category._name }}
          </option>
        </select>
      </div>
      <div class="col">
        <select class="form-control">
          <option>Marca</option>
          <option *ngFor="let _brand of _brands" [value]="_brand._id">
            {{ _brand._name }}
          </option>
        </select>
      </div>
      <div class="col">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Talla</option>
          <option *ngFor="let _size of _sizes" [value]="_size._id">
            {{ _size._name }}
          </option>
        </select>
      </div>
    </div>
  </form> -->






  <div class="row text-center table-produt-prices">
    <table class="table table-bordered table-striped">
      <thead class="headSalesForm">
        <tr class="bg-dark">
          <th class="thTableSearchProduct" scope="col">#</th>
          <th class="thTableSearchProduct" scope="col">Tipo</th>
          <th class="thTableSearchProduct" scope="col">Monto</th>
          <th class="thTableSearchProduct" scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>unidad</td>
          <td>S/.16</td>
          <td>Precio unitario</td>
        </tr>
        <tr>
          <td>1</td>
          <td>unidad</td>
          <td>S/.16</td>
          <td>Precio unitario</td>
        </tr>
        <tr>
          <td>1</td>
          <td>unidad</td>
          <td>S/.16</td>
          <td>Precio unitario</td>
        </tr>
        <tr>
          <td>1</td>
          <td>unidad</td>
          <td>S/.16</td>
          <td>Precio unitario</td>
        </tr>
      </tbody>
    </table>
  </div>









  <!-- <div class="container">
    <div class="row">
        <div class="col search-product">
            <div class="card-body">
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            <select class="form-control" id="category" name="category" required (change)="selectCategory($event)">
                                <option>Categoria</option>
                                <option *ngFor="let category of categories" [value]="category.idCategory">{{ category.name }}</option>                           
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Marca</option>
                                <option *ngFor="let brand of brands" [value]="brand.idBrand">{{ brand.name }}</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Talla</option>
                                <option *ngFor="let size of sizes" [value]="size.idSize">{{ size.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col text-center">
                            <span>Productos que coinciden con la búsqueda:</span>
                        </div>
                    </div>
                    <div class="row tableSearchProduct mt-3 text-center">
                        <table class="table table-bordered table-striped">
                            <thead class="headSalesForm">
                                <tr class="bg-dark">
                                    <th class="thTableSearchProduct" scope="col">#</th>
                                    <th class="thTableSearchProduct" scope="col">Producto</th>
                                    <th class="thTableSearchProduct" scope="col">Marca</th>
                                    <th class="thTableSearchProduct" scope="col">Talla</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let selectC of Clothesre">
                                    <td> 1 </td>
                                    <td> {{selectC.idCategory}} </td>
                                    <td> {{selectC.idBrand}} </td>
                                    <td> {{selectC.idSize}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col prices-view">
            <div class="row mt-3">
                <div class="col text-center">
                    <span>Precios del producto:</span>
                </div>
            </div>
            <div class="row text-center mt-3">
                <table class="table table-bordered table-striped">
                    <thead class="headSalesForm">
                        <tr class="bg-dark">
                            <th class="thTableSearchProduct" scope="col">#</th>
                            <th class="thTableSearchProduct" scope="col">Tipo</th>
                            <th class="thTableSearchProduct" scope="col">Monto</th>
                            <th class="thTableSearchProduct" scope="col">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td> unidad </td>
                            <td> S/.16 </td>
                            <td> Precio unitario </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <span>Cantidad Actual: </span>
                <input type="text">
                <button (click)="salesRedirect()" class="btn btn-dark">Confirmar</button>
            </div>
            <div class="row">
                <span>Cantidad a Vender: </span>
                <input class="" type="text">
                <button (click)="salesRedirect()" class="btn btn-dark">Cancelar</button>
            </div>
        </div>
    </div>
</div> -->
<!-- <select
          class="form-control"
          id="category"
          name="category"
        >
          <option>Categoria</option>
          <option
            *ngFor="let _category of _categories"
            [value]="_category._id"
          >
            {{ _category._name }}
          </option>
        </select> -->