<!-- <table class="table table-bordered table-striped">
    <thead class="headSalesForm">
      <tr class="bg-dark">
        <th class="thTableSearchProduct" scope="col">#</th>
        <th class="thTableSearchProduct" scope="col">Categoría</th>
        <th class="thTableSearchProduct" scope="col">Marca</th>
        <th class="thTableSearchProduct" scope="col">Talla</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let selectC of Clothesre">
        
        <td>{{ selectC.idCategory }}</td>
        <td>{{ selectC.idBrand }}</td>
        <td>{{ selectC.idSize }}</td>
      </tr>
    </tbody>
  </table>  -->

<!-- <form>
    <div class="row">
      <div class="col">
        <select
          class="form-control"
          id="category"
          name="category"
          (change)="getProducts($event)"
        >
          <option>Categoria</option>
          <option
            *ngFor="let _category of _categories"
            [value]="_category._id"
          >
            {{ _category._name }}
          </option>
        </select>
      </div>
      <div class="col">
        <select class="form-control">
          <option>Marca</option>
          <option *ngFor="let _brand of _brands" [value]="_brand._id">
            {{ _brand._name }}
          </option>
        </select>
      </div>
      <div class="col">
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Talla</option>
          <option *ngFor="let _size of _sizes" [value]="_size._id">
            {{ _size._name }}
          </option>
        </select>
      </div>
    </div>
  </form> -->






  <div class="row text-center table-produt-prices">
    <table class="table table-bordered table-striped">
      <thead class="headSalesForm">
        <tr class="bg-dark">
          <th class="thTableSearchProduct" scope="col">#</th>
          <th class="thTableSearchProduct" scope="col">Tipo</th>
          <th class="thTableSearchProduct" scope="col">Monto</th>
          <th class="thTableSearchProduct" scope="col">Descripción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>unidad</td>
          <td>S/.16</td>
          <td>Precio unitario</td>
        </tr>
        <tr>
          <td>1</td>
          <td>unidad</td>
          <td>S/.16</td>
          <td>Precio unitario</td>
        </tr>
        <tr>
          <td>1</td>
          <td>unidad</td>
          <td>S/.16</td>
          <td>Precio unitario</td>
        </tr>
        <tr>
          <td>1</td>
          <td>unidad</td>
          <td>S/.16</td>
          <td>Precio unitario</td>
        </tr>
      </tbody>
    </table>
  </div>