<!-- <table class="table table-bordered table-striped">
    <thead class="headSalesForm">
      <tr class="bg-dark">
        <th class="thTableSearchProduct" scope="col">#</th>
        <th class="thTableSearchProduct" scope="col">Categoría</th>
        <th class="thTableSearchProduct" scope="col">Marca</th>
        <th class="thTableSearchProduct" scope="col">Talla</th>
        <th class="thTableSearchProduct" scope="col">Cantidad</th>
        <th class="thTableSearchProduct" scope="col">Precio</th>
        <th class="thTableSearchProduct" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>unidad</td>
        <td>S/.16</td>
        <td>Precio unitario</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>1</td>
        <td>unidad</td>
        <td>S/.16</td>
        <td>Precio unitario</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>1</td>
        <td>unidad</td>
        <td>S/.16</td>
        <td>Precio unitario</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>1</td>
        <td>unidad</td>
        <td>S/.16</td>
        <td>Precio unitario</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td colspan="6">Total</td>
        <td></td>
      </tr>
    </tbody>
  </table> -->





  
<!-- 
  6129c88f75
d105
need to save idSaleOrder in local storage
with this we reach to maintein our id and we can reload witouth afraid of deleting

createdAt: "2021-09-19T22:31:16.170Z"
updatedAt: "2021-09-19T22:31:16.170Z"
_amount: 1
_id: "6147ba341fe81f3648b7edf7"
_idProductHeadquarter: "6129c88f7514310114e4d105"
_idSaleOrder: "6147ba2c1fe81f3648b7edad"
_price: 20



categoria
marca
talla
cantidad
precio
subtotal

**total -->