<!-- <table class="table table-bordered table-striped">
    <thead class="headSalesForm">
      <tr class="bg-dark">
        <th class="thTableSearchProduct" scope="col">#</th>
        <th class="thTableSearchProduct" scope="col">Categoría</th>
        <th class="thTableSearchProduct" scope="col">Marca</th>
        <th class="thTableSearchProduct" scope="col">Talla</th>
        <th class="thTableSearchProduct" scope="col">Cantidad</th>
        <th class="thTableSearchProduct" scope="col">Precio</th>
        <th class="thTableSearchProduct" scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>unidad</td>
        <td>S/.16</td>
        <td>Precio unitario</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>1</td>
        <td>unidad</td>
        <td>S/.16</td>
        <td>Precio unitario</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>1</td>
        <td>unidad</td>
        <td>S/.16</td>
        <td>Precio unitario</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>1</td>
        <td>unidad</td>
        <td>S/.16</td>
        <td>Precio unitario</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td colspan="6">Total</td>
        <td></td>
      </tr>
    </tbody>
  </table> -->