<div class="sales-container">
  <!-- CLIENT -->
  <div class="sales-item 1 text-center">
    <div class="card">
      <h4 class="card-header"><strong>Información del Cliente:</strong></h4>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="input-group col-md-7">
              <span class="input-group-text" for="inputName">Nombre: </span>
              <input
                type="text"
                class="form-control"
                aria-describedby="basic-addon3"
                id="inputName"
                disabled
                name="name"
                [ngModel]="this._clientService._client._name"
              />
            </div>
            <div class="col-md-1"></div>
            <div class="input-group col-md-4">
              <span class="input-group-text" for="inputDNI">DNI: </span>
              <input
                type="text"
                class="form-control"
                aria-describedby="basic-addon3"
                id="inputDNI"
                disabled
                name="DNI"
                [ngModel]="this._clientService._client._DNI"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <!-- MENU CLIENT -->
  <div class="sales-item 2">
    <div class="card">
      <div class="card-header">Menú Cliente</div>
      <div class="card-body text-center">
        <button
          (click)="searchClientRedirect()"
          type="button"
          class="btn btn-dark m-2 mt-3 mb-3"
        >
          Buscar
        </button>
        <button class="btn btn-dark m-2 mt-3 mb-3">Modificar</button>
      </div>
    </div>
  </div>
  
  <!-- SALE'S DETAILS -->
  <div class="sales-item 3">
    <div class="card">
      <div class="card-header"><strong>Lista de Productos:</strong></div>
      <div class="card-body">
        <div class="row">
          <div class="example-container">
            <table class="pointer" mat-table [dataSource]="_detailSO">
              <ng-container matColumnDef="_category">
                <th mat-header-cell *matHeaderCellDef>Categoría</th>
                <td mat-cell *matCellDef="let _element">
                  <!-- {{ _element._product._category._name }} -->
                </td>
              </ng-container>

              <ng-container matColumnDef="_brand">
                <th mat-header-cell *matHeaderCellDef>Marca</th>
                <td mat-cell *matCellDef="let _element">
                  <!-- {{ _element._product._brand._name }} -->
                </td>
              </ng-container>

              <ng-container matColumnDef="_size">
                <th mat-header-cell *matHeaderCellDef>Talla</th>
                <td mat-cell *matCellDef="let _element">
                  <!-- {{ _element._product._size._name }} -->
                </td>
              </ng-container>

              <ng-container matColumnDef="_price">
                <th mat-header-cell *matHeaderCellDef>Cantidad</th>
                <td mat-cell *matCellDef="let _element">
                  <!-- {{ _element._product._stock }} -->
                </td>
              </ng-container>

              <ng-container matColumnDef="_amount">
                <th mat-header-cell *matHeaderCellDef>Precio</th>
                <td mat-cell *matCellDef="let _element">
                  <!-- {{ _element._product._stock }} -->
                </td>
              </ng-container>

              <ng-container matColumnDef="_subtotal">
                <th mat-header-cell *matHeaderCellDef>Subtotal</th>
                <td mat-cell *matCellDef="let _element">
                  <!-- {{ _element._product._stock }} -->
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="_displayedColumnsDetailSO; sticky: true"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: _displayedColumnsDetailSO;
                  let i = index
                "
                [ngClass]="{
                  highlight: i === this._detailSOService._selectedRowIndex
                }"
                (click)="highlight(row, i)"
              ></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- SALE'S DETAILS MENU -->
  <div class="sales-item 4">
    <div class="card">
      <div class="card-header">Menú Detalle de Pedido</div>
      <div class="card-body text-center">
        <button (click)="salesDetailRedirect()" class="btn btn-dark m-2 mt-3">
          Agregar
        </button>
        <!-- <button class="btn btn-dark m-2 mt-3">Modificar</button> -->
      </div>
      <div class="text-center">
        <button class="btn btn-dark mb-4">Eliminar</button>
      </div>
    </div>
  </div>
  
  <!-- SALE MENU -->
  <div class="sales-item 5">
    <div class="card">
      <div class="card-header">Menú Pedido</div>
      <div class="card-body text-center">
        <button class="btn btn-dark m-2 mt-3">Guardar</button>
        <button class="btn btn-dark m-2 mt-3">Eliminar</button>
      </div>
    </div>
  </div>
</div>
