<div class="sales-container">
  <div class="sales-item 1 text-center">
    <div class="card">
      <h4 class="card-header"><strong>Información del Cliente:</strong></h4>
      <div class="card-body">
        <form>
          <div class="form-row">
            <div class="input-group col-md-7">
              <span class="input-group-text" for="inputName">Nombre: </span>
              <input
                type="text"
                class="form-control"
                aria-describedby="basic-addon3"
                id="inputName"
                disabled
                name="name"
                [ngModel]="this._clientService._client._name"
              />
            </div>
            <div class="col-md-1"></div>
            <div class="input-group col-md-4">
              <span class="input-group-text" for="inputDNI">DNI: </span>
              <input
                type="text"
                class="form-control"
                aria-describedby="basic-addon3"
                id="inputDNI"
                disabled
                name="DNI"
                [ngModel]="this._clientService._client._DNI"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="sales-item 2">
    <div class="card">
      <div class="card-header">Menú Cliente</div>
      <div class="card-body text-center">
        <button
          (click)="searchClientRedirect()"
          type="button"
          class="btn btn-dark m-2 mt-3 mb-3"
        >
          Buscar
        </button>
        <button class="btn btn-dark m-2 mt-3 mb-3">Modificar</button>
      </div>
    </div>
  </div>
  <div class="sales-item 3">
    <div class="card">
      <div class="card-header"><strong>Lista de Productos:</strong></div>
      <!-- <div class="card-body">
        <div class="row">
          <div class="example-container">
            <table mat-table [dataSource]="_category">
              <ng-container matColumnDef="_name">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let _element">
                  {{ _element._name }}
                </td>
              </ng-container>

              <ng-container matColumnDef="_DNI">
                <th mat-header-cell *matHeaderCellDef>DNI</th>
                <td mat-cell *matCellDef="let _element">{{ _element._DNI }}</td>
              </ng-container>

              <ng-container matColumnDef="_RUC">
                <th mat-header-cell *matHeaderCellDef>RUC</th>
                <td mat-cell *matCellDef="let _element; let i = index">
                  {{ _element._RUC }}{{ i }}
                </td>
              </ng-container>

              <ng-container matColumnDef="_cel">
                <th mat-header-cell *matHeaderCellDef>Celular</th>
                <td mat-cell *matCellDef="let _element">{{ _element._cel }}</td>
              </ng-container>

              <ng-container matColumnDef="_address">
                <th mat-header-cell *matHeaderCellDef>Dirección</th>
                <td mat-cell *matCellDef="let _element">
                  {{ _element._address }}
                </td>
              </ng-container>

              <tr
                mat-header-row
                *matHeaderRowDef="_displayedColumns; sticky: true"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: _displayedColumns; let i = index"
                [ngClass]="{
                  highlight: i === this._clientService._selectedRowIndex
                }"
                (click)="highlight(row, i)"
              ></tr>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button
            (click)="salesRedirect()"
            class="btn btn-dark m-2"
            [attr.disabled]="
              this._clientService._selectedRowIndex === -1 ? false : null
            "
          >
            Agregar Cliente Seleccionado
          </button>
          <app-register-modify-client
            *ngFor="let modal of modeModal; let i = index"
            [mode]="modal"
            [index]="i"
          ></app-register-modify-client>
          <button (click)="salesRedirect()" class="btn btn-dark m-2">
            Cancelar
          </button>
        </div>
      </div> -->
    </div>
  </div>
  <div class="sales-item 4">
    <div class="card">
      <div class="card-header">Menú Detalle de Pedido</div>
      <div class="card-body text-center">
        <button (click)="salesDetailRedirect()" class="btn btn-dark m-2 mt-3">
          Agregar
        </button>
        <button class="btn btn-dark m-2 mt-3">Modificar</button>
      </div>
      <div class="text-center">
        <button class="btn btn-dark mb-4">Eliminar</button>
      </div>
    </div>
  </div>
  <div class="sales-item 5">
    <div class="card">
      <div class="card-header">Menú Pedido</div>
      <div class="card-body text-center">
        <button class="btn btn-dark m-2 mt-3">Guardar</button>
        <button class="btn btn-dark m-2 mt-3">Eliminar</button>
      </div>
    </div>
  </div>
</div>
